<!doctype html>
<html class="no-js" lang="en-AU">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>| RuffBeatz Entertainment</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- TODO: Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/app.css">
  <!-- TODO: Experiment with modernizer OR remove -->
  <!-- <script src="js/modernizr-2.8.3.min.js"></script> -->

  <!-- Google Analytics -->
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-42122013-2', 'auto');
  ga('require', 'linkid');
  ga('require', 'autotrack');
  ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- TODO: Install autotrack.js via npm or bower -->
  <script async src='js/autotrack.js'></script>
</head>
<body>

<div id="dope">

<!-- TODO: Create header and menu -->
