<!doctype html>
{{ "<!--!

 _____        __  __ ____             _
|  __ \      / _|/ _|  _ \           | |
| |__) |   _| |_| |_| |_) | ___  __ _| |_ ____
|  _  / | | |  _|  _|  _ < / _ \/ _` | __|_  /
| | \ \ |_| | | | | | |_) |  __/ (_| | |_ / /
|_|  \_\__,_|_| |_| |____/ \___|\__,_|\__/___|

    ____        ____________             __
   / __ \__  __/ __/ __/ __ )___  ____ _/ /_____
  / /_/ / / / / /_/ /_/ __  / _ \/ __ `/ __/_  /
 / _, _/ /_/ / __/ __/ /_/ /  __/ /_/ / /_  / /_
/_/ |_|\__,_/_/ /_/ /_____/\___/\__,_/\__/ /___/

  ____         __  __ ____             _
 |  _ \ _   _ / _|/ _| __ )  ___  __ _| |_ ____
 | |_) | | | | |_| |_|  _ \ / _ \/ _` | __|_  /
 |  _ <| |_| |  _|  _| |_) |  __/ (_| | |_ / /
 |_| \_\\__,_|_| |_| |____/ \___|\__,_|\__/___|

 ██▀███   █    ██   █████▒ █████▒▄▄▄▄   ▓█████ ▄▄▄     ▄▄▄█████▓▒███████▒
▓██ ▒ ██▒ ██  ▓██▒▓██   ▒▓██   ▒▓█████▄ ▓█   ▀▒████▄   ▓  ██▒ ▓▒▒ ▒ ▒ ▄▀░
▓██ ░▄█ ▒▓██  ▒██░▒████ ░▒████ ░▒██▒ ▄██▒███  ▒██  ▀█▄ ▒ ▓██░ ▒░░ ▒ ▄▀▒░
▒██▀▀█▄  ▓▓█  ░██░░▓█▒  ░░▓█▒  ░▒██░█▀  ▒▓█  ▄░██▄▄▄▄██░ ▓██▓ ░   ▄▀▒   ░
░██▓ ▒██▒▒▒█████▓ ░▒█░   ░▒█░   ░▓█  ▀█▓░▒████▒▓█   ▓██▒ ▒██▒ ░ ▒███████▒
░ ▒▓ ░▒▓░░▒▓▒ ▒ ▒  ▒ ░    ▒ ░   ░▒▓███▀▒░░ ▒░ ░▒▒   ▓▒█░ ▒ ░░   ░▒▒ ▓░▒░▒
  ░▒ ░ ▒░░░▒░ ░ ░  ░      ░     ▒░▒   ░  ░ ░  ░ ▒   ▒▒ ░   ░    ░░▒ ▒ ░ ▒
  ░░   ░  ░░░ ░ ░  ░ ░    ░ ░    ░    ░    ░    ░   ▒    ░      ░ ░ ░ ░ ░
   ░        ░                    ░         ░  ░     ░  ░          ░ ░
                                      ░                         ░

   .-.                 .-. .-. .-.
  (_) )-.             / -'/ -'(_) )-.                  /
     /   \  )  (    -/---/--     / __)    .-.  .-. ---/---.-.
    /     )(    )   /   /       /    `. ./.-'_(  |   /       )_
 .-/  `--'  `--':`.' `.'       /'      )(__.'  `-'-'/     (   )
(_/     `-._)               (_/  `----'                    `-'

  ____         __  __ ____             _
 |  _ \ _   _ / _|/ _| __ )  ___  __ _| |_ ____
 | |_) | | | | |_| |_|  _ \ / _ \/ _` | __|_  /
 |  _ <| |_| |  _|  _| |_) |  __/ (_| | |_ / /
 |_| \_\\__,_|_| |_| |____/ \___|\__,_|\__/___|

 __        ___  ___  __   ___      ___ __
|__) |  | |__  |__  |__) |__   /\   |   /
|  \ \__/ |    |    |__) |___ /~~\  |  /_

.--.      .-..-..--.           .
|   )     |  |  |   )         _|_
|--' .  .-|--|- |--:  .-. .-.  |  ---.
|  \ |  | |  |  |   )(.-'(   ) |   .'
'   ``--`-'  '  '--'  `--'`-'`-`-''---

RRRRRR           fff  fff BBBBB                  tt
RR   RR uu   uu ff   ff   BB   B    eee    aa aa tt    zzzzz
RRRRRR  uu   uu ffff ffff BBBBBB  ee   e  aa aaa tttt    zz
RR  RR  uu   uu ff   ff   BB   BB eeeee  aa  aaa tt     zz
RR   RR  uuuu u ff   ff   BBBBBB   eeeee  aaa aa  tttt zzzzz

  © RuffBeatz.com, All rights reserved.

-->" | safeHTML }}
<html lang="en-AU">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {{ if eq .URL "/" }}
  <!-- Unique title & meta description on homepage -->
  <title>{{ .Site.Title }} - RuffBeatz Entertainment</title>
  <meta name="description" content="{{ .Site.Params.description }}">
  {{ else }}
  <!-- Unique title & meta description on each page -->
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta name="description" content="{{ .Description }}">
  {{ end }}

  <link rel="stylesheet" href="css/app.css">

  <link rel="canonical" href="{{ .Permalink }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="{{ .Site.Params.theme-colour }}">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <!-- Google Analytics -->
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-42122013-2', 'auto');
  ga('require', 'linkid');
  ga('require', 'autotrack');
  ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <script async src='js/autotrack.js'></script>
</head>
<body>

<div class="masthead clearfix">
  <div class="masthead-brand">{{ .Site.Title }}</div>
  <!-- TODO: Create a dynamic hugo menu -->
  <nav class="nav-masthead">
    <a class="nav-link active" href="#">Home</a>
    <a class="nav-link" href="#">Lineup</a>
    <a class="nav-link" href="#">How To Get There</a>
    <a class="nav-link" href="#">Street Team</a>

    <ul>
      {{ $currentNode := . }}
      {{ range .Site.Menus.main }}
      <li{{ if $currentNode.IsMenuCurrent "main" . }} class="active"{{ end }}><a href="{{ .URL }}"{{ if in .URL "http" }} target="_blank"{{ end }}>{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>
</div>

<div id="dope">

<!-- TODO: Create header and menu -->
